
.DS_Store

.gradle/7.3.3/checksums/

*.lock

build/tmp/compileJava/previous-compilation-data.bin

*.dylib

*.bin

*.properties

*.probe

*.MF

gradle/wrapper/

.idea/misc.xml

.idea/gradle.xml

.idea/jarRepositories.xml

.idea/vcs.xml

build/

*.log

.idea/compiler.xml

.idea/discord.xml

/build/
/bin/
.idea/modules.xml
gradlew
.idea/2022-Codebase.iml
gradlew
gradlew
/.idea/modules/2022-Codebase.main.iml
