# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/


.DS_Store

.gradle/7.3.3/checksums/

*.lock

build/tmp/compileJava/previous-compilation-data.bin

*.dylib

*.bin

*.properties

*.probe

*.MF

gradle/wrapper/

build/

